#personal-details{
	float:left;
	 background-image: linear-gradient(white,white);
	margin: 30px;
	padding: 50px;
	height: 10%;
}
img{
	width:200px;
	margin: 15%;
	padding-right: 55px; 
	border-radius: 10%;
	border-left:  5px solid black;
}
body{
	 background-image: linear-gradient(to bottom right, white, #1AF3D4);

}
#second{
	float: left;
	padding: 20px;
}
#second>h1,h2{
	padding: 8px;
	 background-image: linear-gradient(to top right,white,blue);
}
#second>h1:hover,h2:hover{
	text-align: center;
	background-image: linear-gradient(to bottom left,white,green);
}
table,th,td{
	border:solid 2px black;
}
#second>p{
	font-size: 20px;
}
li{
	font-size: 20px;
}
a{
	text-decoration: none;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


@media screen and (min-width: 320px) and (max-width: 680px){
	body{
		display: block;
	}
	#personal-details{
		size:100px;
	}
	#second{
		display: block;
		padding:50px;
		width:250px;
	}
	img{
		width:150px;
	}

}

@media screen and (min-width: 144px) and (max-width: 320px){
	body{
		display: block;
	}
	#personal-details{
		size:50px;
	}
	#second{
		display: block;
		padding:50px;
		width:150px;
	}
	img{
		width:70px;
	}
}

@media screen and (min-width: 720px) and (max-width: 1080px){
	body{
		display: block;
	}
	#personal-details{
		size:200px;
	}
	#second{
		display: block;
		padding:100px;
		width:250px;
	}
	img{
		width:350px;
	}

}